CONFIG_IDF_TARGET="esp32"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_LWIP_SNTP_MAX_SERVERS=4
# CONFIG_LWIP_SNTP_STARTUP_DELAY is not set
CONFIG_CLOCK_NTP_SERVER="ntp.aliyun.com"
CONFIG_CLOCK_PROV_ENABLE=y
CONFIG_CLOCK_PROV_AP_SSID_PREFIX="CYD-CLOCK"
CONFIG_CLOCK_PROV_AP_PASSWORD=""
CONFIG_CLOCK_PROV_AP_CHANNEL=6
CONFIG_CLOCK_WEATHER_ENABLE=y
CONFIG_CLOCK_WEATHER_URL="http://wttr.in/?format=%25l%7C%25t%7C%25h%7C%25C"
CONFIG_CLOCK_WEATHER_CN_GEO_URL="http://myip.ipip.net/json"
CONFIG_CLOCK_WEATHER_CITY_LABEL="天气"
CONFIG_CLOCK_WEATHER_REFRESH_MINUTES=10
CONFIG_CLOCK_TOUCH_ENABLE=y
CONFIG_CLOCK_TOUCH_PIN_CS=33
CONFIG_CLOCK_TOUCH_PIN_MOSI=32
CONFIG_CLOCK_TOUCH_PIN_MISO=39
CONFIG_CLOCK_TOUCH_PIN_SCLK=25
CONFIG_CLOCK_TOUCH_PIN_IRQ=36
CONFIG_CLOCK_TOUCH_IRQ_ACTIVE_LOW=y
CONFIG_CLOCK_TOUCH_SPI_CLOCK_HZ=2500000
CONFIG_CLOCK_TOUCH_PRESSURE_MIN=50
CONFIG_CLOCK_TOUCH_RAW_X_MIN=300
CONFIG_CLOCK_TOUCH_RAW_X_MAX=3800
CONFIG_CLOCK_TOUCH_RAW_Y_MIN=300
CONFIG_CLOCK_TOUCH_RAW_Y_MAX=3800
CONFIG_CLOCK_TOUCH_SWAP_XY=y
# CONFIG_CLOCK_TOUCH_MIRROR_X is not set
# CONFIG_CLOCK_TOUCH_MIRROR_Y is not set
